
:root {
  /* Основные шрифты */
  --main-font:'Roboto', sans-serif;
  --secondary-font:'Raleway', sans-serif;

  /* Цвет акцента */
  --accent-color: #2196F3;

  /* Светлая тема текста */

  /* Темная тема текста */


  /* Светлая тема фона */


  /* Темная тема фона */



}
/* body */
body{
  font-family: var(--main-font)
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #212121;
}

/* heder */
.header {
  background-color: #fff;
}

.header-link {
color: var(--secondary-font);
font-family: "Raleway";
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #000000;
}
.web { 
font-family: "Raleway",sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #2196F3;
}
.nav {

}
.nav-list {
  list-style: none;
}

.nav-link:hover,
.nav-link:focus{
  color: var(--accent-color);
}

.nav-item{

}
.nav-link{
font-family: "Roboto";
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #212121;

}
.header-contacts{
list-style: none;
}
.header-contacts-mail:hover,
.header-contacts-mail:focus{
  color: var(--accent-color);
}


.header-contacts-tel{

}
/* main */
/* hero */
.hero{

}
.hero-title{

}
.hero-button-main-button{

}
/* feature */
.section{

}
.title{

}
.section-list{

}
.section-item{

}
.subtitle{

}
.section-txt{

}
/* footer */
.footer{

}
.web{

}
.footer-studio{

}
.addres{

}
.addres-city{

}
.addres-mail{

}
.addres-tel{

}