
:root{
  /* main font */
  --main-font:"Roboto", sans-serif
  --secondary-font:"Raleway", sans-serif
  /* accent color */
  --accent-color: #2196F3,
  /* light background theme */
  --primary-bg-white: #ffffff
  /* dark background theme */

  --primary-bg-dark: #2f303a
}
/* body */
  body {
  font-family: var(--main-font)
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #212121;
}

/* heder */
.header {
  background-color: var(--primary-bg-white);
  
}

.header-link {
color: var(--secondary-font);
font-family: "Raleway",sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #000000;
text-decoration: none;
}
.web { 
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #2196F3;
}
.nav {

}
.nav-list {
  list-style: none;
  
}

.nav-link:hover,
.nav-link:focus{
  color: var(--accent-color);
}

.nav-item{

}
.nav-link{
font-family: var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #212121;
text-decoration: none;
}
.header-contacts{
list-style: none;
}
.header-contacts-mail:hover,
.header-contacts-mail:focus{
  color: var(--accent-color);
}
.header-contacts-mail{
  text-decoration: none;
}

.header-contacts-tel{
text-decoration: none;
}
/* main */
/* hero */
.hero{
background-color: #2f303a;
}
.hero-title{
font-family: var(--main-font);
font-weight: 900;
font-size: 44px;
line-height: 1.36;

color: #FFFFFF;

}
.hero-button-main-button{
font-family: var(--main-font);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;

color: #FFFFFF;
background-color: #2196F3;
}
.hero-button-main-button:hover,
.hero-button-main-button:focus{
  color:#188CE8
};

/* feature */
.section{

}
/* what are you doing */
.title, .section-title{
font-family: var(--main-font);
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;

color: #212121;

}
.section-list{
list-style: none;
}
.section-item{

}
.subtitle{
font-family: var(--main-font);
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #212121;
}
.section-txt{
font-family: var(--main-font);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: #757575;

}
/* footer */
.footer{
background-color: #2f303a;
}
.header-link-footer{
  color: var(--secondary-font);
font-family: "Raleway",sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #FFFFFF;
text-decoration: none;
}
.web{
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #2196F3;
}
.footer-studio{

}
.addres{

}
.addres-city{

}
.addres-mail{

}
.addres-tel{

}