
:root {
  /* Основные шрифты */
  --main-font:'Roboto', sans-serif;
  --secondary-font:'Raleway', sans-serif;

  /* Цвет акцента */
  --accent-color: #2196F3;

  /* Светлая тема текста */

  /* Темная тема текста */


  /* Светлая тема фона */
  --primary-bg-white: #ffffff;

  /* Темная тема фона */
  --primary-bg-dark: #2f303a;


}
/* body */
body{
  font-family: var(--main-font)
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #212121;
}

/* heder */
.header {
  background-color: var(--primary-bg-white);
  
}

.header-link {
color: var(--secondary-font);
font-family: "Raleway",sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #000000;
text-decoration: none;
}
.web { 
font-family: "Raleway",sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: #2196F3;
}
.nav {

}
.nav-list {
  list-style: none;
  
}

.nav-link:hover,
.nav-link:focus{
  color: var(--accent-color);
}

.nav-item{

}
.nav-link{
font-family: "Roboto",sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #212121;
text-decoration: none;
}
.header-contacts{
list-style: none;
}
.header-contacts-mail:hover,
.header-contacts-mail:focus{
  color: var(--accent-color);
}
.header-contacts-mail{
  text-decoration: none;
}

.header-contacts-tel{
text-decoration: none;
}
/* main */
/* hero */
.hero{
background-color: #2f303a;
}
.hero-title{
font-family: "Roboto",sans-serif;
font-weight: 900;
font-size: 44px;
line-height: 1.36;

color: #FFFFFF;

}
.hero-button-main-button{
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;

color: #FFFFFF;
background-color: #188CE8;
}
.hero-button-main-button:hover,
.hero-button-main-button:focus{
  color:
};

/* feature */
.section{

}
.title{

}
.section-list{

}
.section-item{

}
.subtitle{

}
.section-txt{

}
/* footer */
.footer{

}
.web{

}
.footer-studio{

}
.addres{

}
.addres-city{

}
.addres-mail{

}
.addres-tel{

}