/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* основной цвет фона #FFFFFF */
/* акцент по тексту #2196F3 */
/* белый прозрачный rgba(255,255,255,0.6 */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: #757575;
}
.list {
  list-style: none;
}
/* heder */
.web {
  color: #2196f3;
}
.studio {
  color: #000000;
}
.link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.auth-nav-mail,
.auth-nav-tel {
  color: #757575;
}
.auth-nav-mail:hover,
.auth-nav-mail:focus {
  color: #2196f3;
}
/* hero */
.hero-title {
  color: #ffffff;
  background-color: #2f303a;
}
/* feature*/
.section-title {
  color: #212121;
}
.section-txt {
  color: #757575;
}
/* footer */
.footer {
  background-color: #2f303a;
}
.footer-studio {
  color: #ffffff;
}
.addres-city {
  color: #ffffff;
}
.addres-mail,
.addres-tel {
  color: rgba(255, 255, 255, 0.6);
}
